<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <h1>About the Project</h1>

    <p>
        Movie Reviews is a web application developed using the Django framework.
        The purpose of this application is to allow users to explore and search
        for movies in a simple and intuitive way.
    </p>

    <p>
        The application provides a list of movies stored in a database. Each movie
        includes essential information such as the title, a description, an image,
        and a URL with additional details about the movie.
    </p>

    <p>
        Users can search for movies by name, and the application will display
        all movies that match the search criteria. This functionality helps users
        easily find specific movies of interest.
    </p>

    <p>
        This project is currently running on a local environment and is part of
        an academic exercise focused on learning Django, database management,
        and web application development.
    </p>

</body>
</html>
